<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <add key="evcc_url" value="http://localhost:7070" />
	<add key="evcc_loadpoint" value="0" />
        <add key="wallbox_deviceid" value="123456" />
        <add key="wallbox_username" value="test@test.com" />
	<add key="wallbox_password" value="password" />
    </appSettings>
</configuration>
